<!--
  about.ejs
  Chirag Jain
  301307988
  October 2nd, 2022
-->



<!--Header-->
<%- include partials/header.ejs -%>
<%- include partials/main_nav.ejs -%>

<body style = "background-image: url('/Assets/Images/cube_background.jpg') ;">

  <main>  

    <div class="container">
      <div class="row">
          <div class="col">
              <div class="jumbotron" style="background-color: grey">
                  
            <h1>I am Chirag Jain</h1>
            <p>
              To say programming is a passion of mine would be an
              understatement. Since I can remember I have had fascination with
              all things computers. However, it was software development that
              consumed my curiosity. This led me to pursue a degree in
              Computer Science. <br />

              <br />
              After completing my Bachelor's of Science I worked for two years
              in the Canadian Forces. It was very exciting and full of
              adventure, however, I knew that my real passion was in Software
              Development.<br />

              <br />
              Which is why I once again enrolled in post-secondary studies. I
              am currently studying Artificial Intelligence at Centennial
              College and am having a blast! My expected graduation date is
              May 2024 after which I plan to enter the work force. My
              immediate career goal is to become a Junior Web Developer.
            </p>
           
              </div>
              
          <a href = "/Assets/Chirag_Jain_Resume.pdf" download="Chirag_Jain_Resume.pdf" class = download_btn ><i class="fa-sharp fa-solid fa-download"></i>Download my Resume</a>
          </div>
          <div class="col">
              <div class="Credentials">                  
                <h4><u>Education</u></h4>
                  <li>
                    Centennial College Sept 2022 - Present
                  </li>
                  <li>
                    Royal Military College of Canada
                    <br />Sept 2016 - May 2020
                  </li> <br>
                <h4><u>Work Experience</u></h4>
                  <li>
                    Canadian Armed Forces
                  </li>
                  <li>
                    West Rouge Kumon Association
                  </li>
                  <li>
                    Elections Canada
                  </li>
                  <br>
                <h4><u>Volunteer Experience</u></h4>
                  <li>
                    Regent Park Community Dinner
                  </li>
                  <li>
                    North York General Hospital
                  </li>
                  <li>
                    Toronto Police Liaison Commitee
                  </li>    

              </div>
          </div>
      </div>
  </div>
  
  </main>
</body>



<!--Footer-->
<%- include partials/footer -%>