<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <body style = "background-image: url('/Assets/Images/cube_background.jpg') ;">
    <div class="jumbotron jumbotron-fluid" style="background-color:grey">
      <div class="container">
        <h1 class="display-4">My Personal Portfolio Website</h1>
        <a href="/contact" class= "contact_btn">Contact Me</a>
      </div>
    </div>
  
    <h3>My mission</h3>
    <div class = welcome-text>
        <p>
          To create software that addresses everyday problems and provides simple
          solutions. The goal is to make people's lives easier and reduce hassle
          as much as possible.
        </p>
    </div>
  </body>
  



  




