<!--
  projects.ejs
  Chirag Jain
  301307988
  October 2nd, 2022
-->



<!--Header-->
<%- include partials/header -%>
<%- include partials/main_nav -%>

<body style = "background-image: url('/Assets/Images/cube_background.jpg') ;">
  <div class = "Credentials">
    <h2>These are the projects that I have worked on in the past</h2> <br>
    <h3>Restaurant Ordering System</h3>
    <p>
      This was created to help restaurants manage and track all stages of a customer's experience at the restaurant.
      The program was created to keep track of all orders throughout the restaurant. It would store each order at a certain 
      table according to the seating position. The program also allowed for ease of splitting the bill for any number of individuals
      and any number of dishes. It was a fourth year project coded using the PyCharm IDE.
    </p>
    
    <h3>Enterprise Design</h3>
    <p>
      This was another fourth year project. We created a secure network that would allow for other coalition networks to join remotely.
      Our network had multiple sublayers including several firewalls for maximum security.
    </p>
    
    <h3>Software Development Life Cycle Implemenation</h3>
    <p>
      This is a project that I am currently working on in a group. We are required to go through the entire cycle: project scope 
      and requirements, overview model, modularization, and system design.
    </p>
        
        
    </body>
  </div>

    
<%- include partials/bottom_nav -%>
<!--Footer-->
<%- include partials/footer -%>