<!--
  services.ejs
  Chirag Jain
  301307988
  October 2nd, 2022
-->


<%- include partials/header -%>
<%- include partials/main_nav -%>

<body style = "background-image: url('/Assets/Images/cube_background.jpg') ;">
  <div class="container">
    <div class="row">
        <div class="col">
          <div class="jumbotron" style="background-color: grey">
            <h3>General Programming</h3>
              <p>
                I have over 10 years of experience with various languages.
                I can design for you computer programs and write,edit,integrate, and test these programs. During my undergrad studies
                I learned the ins and outs of software development that led to the creation of various programs. <br><br>
                In 3rd year we learned assembly langauge and programed a microcontroller. In 4th year we focused more on objected-oriented programming to develop
                solutions for real world probems (see Projects page).
              </p>
  
            <h3>Web Development</h3>
              <p>
                Can provide you full-stack web development combining both the front-end(Javascript, HTML, CSS) 
                and back-end(Nodejs and Expresssjs). I can build you powerful web applications that meet all your expectations. 
                You will be able to increase your online presence.
              </p>            
          </div>
        </div>
        <div class="col">
            <div class="Credentials">
              <h3><u>My Proficiencies</u></h3>
              <h4>Software Languages & <br>Frameworks</h4>
                <li>Javascript</li>
                <li>Nodejs</li>
                <li>Expressjs</li>
                <li>Python</li>
                <li>C++</li><br>
              <h4>Technologies and Tools</h4>
                <li>Visual Studio</li>
                <li>PyCharm IDE</li>
                <li>Eclipse</li>
                <li>Git</li>
            </div>
        </div>
    </div>
  </div>
  <div style= " margin-top: 50 px;">
  <img src="/Assets/Images/web_development.jpg" width = 250px height = 200px alt="">
  <img src="/Assets/Images/general_programming.jpg" width = 250px height = 200px alt="">
  <img src="/Assets/Images/tech_background.jpg" width = 250px height = 200px alt="">

  </div>
  </body>



<!--Footer-->
<%- include partials/footer -%>